.parentContainer{
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.mainCard{
  background-color: black;
  height: 100%;
  width: 33%;
  padding: 20px;
  box-shadow: 0px 0px 5px 1px grey;
  display: flex;
  gap: 30px;
  border-radius: 5px;
}
.title{
  color:white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}